.counselee-admin {
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 20px rgba(21, 40, 82, 0.07);
  border-radius: 10px;
  padding: 20px;
}
.counselee-admin:hover {
  border: 1px solid rgba(135, 207, 235, 1);
  box-shadow: 0 0 20px rgba(135, 207, 235, 0.07);
}
.counselee-admin-content {
  display: flex;
}
.counselee-admin-image {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}
