@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");
html {
  overflow-x: hidden;
}

body {
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: #6f8ba4;
  font-weight: 400;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #222;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 44px;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.navbar-toggle .icon-bar {
  background: #223a66;
}
.py-7 {
  padding: 7rem 0px;
}

.logoImg {
  max-width: 20% !important;
}

.btn {
  display: inline-block !important;
  font-size: 14px !important;
  font-size: 0.8125rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.5px !important;
  padding: 0.75rem 2rem !important;
  font-family: "Exo", sans-serif !important;
  text-transform: uppercase !important;
  border-radius: 5px !important;
  border: 2px solid transparent !important;
  transition: all 0.35s ease !important;
}

.btn.btn-icon i {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  padding-left: 15px;
}

.btn:focus {
  outline: 0px;
  box-shadow: none;
}

.btn-main {
  background: #223a66 !important;
  color: #fff !important;
  border-color: #223a66 !important;
}

.btn-main:hover {
  background: #e12454;
  border-color: #e12454;
  color: #fff;
}

.btn-main-2 {
  background: #e12454 !important;
  color: #fff !important;
  border-color: #e12454 !important;
}

.btn-main-2:hover {
  background: #223a66;
  color: #fff;
  border-color: #223a66;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px !important;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.bg-gray {
  background: #eff0f3;
}

.bg-primary {
  background: #223a66;
}

.bg-primary-dark {
  background: #152440;
}

.bg-primary-darker {
  background: #090f1a;
}

.bg-dark {
  background: #222;
}

.bg-gradient {
  background-image: linear-gradient(
    145deg,
    rgba(19, 177, 205, 0.95) 0%,
    rgba(152, 119, 234, 0.95) 100%
  );
  background-repeat: repeat-x;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-bottom {
  padding-bottom: 100px;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 3.75rem;
}

.no-spacing {
  letter-spacing: 0px;
}

/* Links */
a {
  color: #222;
  text-decoration: none;
  transition: all 0.35s ease;
}

a:focus,
a:hover {
  color: #e12454;
  text-decoration: none;
}

a:focus {
  outline: none;
}

@media (max-width: 480px) {
  h2,
  .h2 {
    font-size: 1.3rem;
    line-height: 36px;
  }
}

.title-color {
  color: #223a66;
}

.secondary-bg {
  background: #223a66;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  color: #223a66;
}

.text-lg {
  font-size: 50px;
}

.gray-bg {
  background: #f4f9fc;
}

@media (max-width: 480px) {
  .text-lg {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .text-lg {
    font-size: 28px;
  }
}

.mb--80 {
  margin-bottom: -80px;
}

.lh-35 {
  line-height: 35px;
}

.read-more {
  color: #223a66;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-color-primary {
  color: #223a66;
}

.social-icons li {
  margin: 0 6px;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
}
.mt-90 {
  margin-top: 90px;
}

.lh-35 {
  line-height: 35px;
}

.logo {
  font-weight: 600;
  letter-spacing: 1px;
}

.logo h3 {
  color: #223a66;
}

.logo span {
  color: #223a66;
}